/**
 * Define colours
 */
/**
 * Styles
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  background-color: #343434;
  background-image: -o-radial-gradient(#5e5e5e, #343434);
  background-image: radial-gradient(#5e5e5e, #343434);
  font-family: sans-serif;
  height: 100%; }

#outer-container {
  height: 100%;
  text-align: center;
  width: 100%; }

header {
  padding: 50px 0 20px; }

.heading {
  color: #bec50d;
  font-size: 12pt;
  font-weight: lighter;
  text-transform: uppercase; }

.subheading {
  color: white;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: normal;
  padding-top: 40px; }

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 28pt; }
  .subheading {
    font-size: 40pt; } }

@media only screen and (min-width: 999px) {
  .heading {
    font-size: 32pt; }
  .subheading {
    font-size: 46pt; } }

.form-container {
  margin: 0 auto;
  width: 224px; }
  .form-container #security-check {
    color: white;
    font-size: 8pt;
    text-align: left; }
  .form-container input,
  .form-container textarea {
    background-color: white;
    border: 0;
    border-radius: 3px;
    color: #444444;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 9pt;
    margin: 4px 0;
    padding: 8px;
    resize: none;
    width: 100%; }
  .form-container button {
    background-color: #4f9c41;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 9pt;
    margin: 12px 0;
    padding: 8px;
    width: 100%; }
